.g1-preheader-bunchy {
    > .g1-row-inner {
        max-width: none;
    }

    .g1-drop-toggle-icon {
        height: 32px;

        &:before {
            font-size: 17px;
            line-height: 32px;
        }
    }
}


.g1-header-bunchy {
    @include box-shadow( 0 0 10px rgba(0,0,0, 0.15) );

    > .g1-row-inner {
        max-width: none;

        > .g1-column {
            @include display(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
        }
    }

    .g1-primary-nav {
        display: none;
        float: #{$left};

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .g1-helper {
        @include flex(1 1 auto);
    }

    .snax-button,
    .g1-drop {
        display: none;
        float: $right;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .g1-socials-items{
        margin-top: 0;
        margin-bottom: 0;
    }

    .snax-button {
        margin-#{$left}: 10px;
    }

    .g1-drop-the-user,
    .g1-drop-the-search {
        display: block;
    }
}

@media only screen and ( max-width: 768px  ) {
    .g1-header-bunchy {
        .g1-drop-the-user + .g1-drop-the-search {
            display: none;
        }
    }
}

@media only screen and ( min-width: 769px ) {
    .g1-header-bunchy {
        .snax-button,
        .g1-drop {
            display: block;
        }
    }
}

@media only screen and ( min-width: 1025px ) {
    .g1-header-bunchy {
        .g1-hamburger {
            display: none;
        }

        .g1-id {
            margin-#{$left}: 0;
            margin-#{$right}: 20px;
        }

        .g1-primary-nav {
            display: block;
        }
    }
}
