.g1-header-smiley {
    > .g1-row-inner {
        .g1-column {
            @include display(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
        }
    }

    .g1-id {
        margin-#{$left}: 0;
        margin-#{$right}: 20px;
        @media only screen and ( max-width: 400px ) {
            margin-#{$left}: 0;
            margin-#{$right}: 0;
        }
    }

    .g1-primary-nav {
        display: none;
        float: #{$left};
    }

    .g1-helper {
        @include flex(1 1 auto);
    }

    .snax-button,
    .g1-drop {
        display: none;
        float: $right;
        margin-top: 0;
        margin-bottom: 0;
    }

    .snax-button {
        margin-#{$left}: 20px;
    }

    .g1-socials-items{
        margin-top: 0;
        margin-bottom: 0;
    }

    .g1-drop-the-user,
    .g1-drop-the-search {
        display: block;
    }
}

@media only screen and ( max-width: 768px  ) {
    .g1-header-smiley {
        .g1-drop-the-user + .g1-drop-the-search {
            display: none;
        }
    }
}

@media only screen and ( min-width: 769px ) {
    .g1-header-smiley {
        .snax-button,
        .g1-drop {
            display: block;
        }
    }
}

@media only screen and ( min-width: 1025px ) {
    .g1-header-smiley {
        .g1-hamburger {
            display: none;
        }

        .g1-primary-nav {
            display: block;
        }
    }
}
