$_badge_m_size: 40px;
$_badge_m_font_size: 18px;

.entry-counter {
    width: $badge_size;
    height: $badge_size;

    @if ( 'top' == $badge_position ) {
        position: absolute;
        z-index: 3;
        top: -10px;
        #{$left}: 10px;
        #{$right}: auto;

        @include border-radius(50%);
    } @else {
        margin-top: -$badge_size;
        position: relative;
        z-index: 3;
    }

    line-height: $badge_size;
    font-size: $entry_counter_font_size;
    font-family: $entry_counter_font_family;
    font-weight: $entry_counter_font_weight;

    text-align: center;

    pointer-events: none;

    &:before {
        display: block;
        position: absolute;
        z-index: 1;
        #{$left}: 0;
        #{$right}: 0;
        top: 0;
        bottom: 0;

        @include border-radius( inherit );

        content: "";
    }

    &:after {
        position: relative;
        z-index: 2;
        content: counter(g1-collection-item-counter);
    }
}