.entry-before-title {
    &:after {
        display: table;
        clear: both;
        content: "";
    }

    .entry-meta-stats,
    .entry-categories {
        float: #{$left};
        margin-bottom: 0;
    }
}


.entry-title {
    > a {
        color: inherit;
    }
}

.entry-subtitle {
    .entry-title + & {
        margin-top: -0.75em;
    }
}
