# Use PHP55
AddHandler application/x-httpd-ea-php55 .php
<IfModule mod_suphp.c>
#suPHP_ConfigPath /opt/php55/lib
</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /services/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /services/index.php [L]
</IfModule>

# END WordPress