.g1ui-img-radio-items {
	width: 100%;
	margin: 0 -6px;

	list-style: none;
	font-size: 0;
}

.g1ui-img-radio-item {
	display: inline-block;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	width: 100%;
	padding: 0 6px;
	margin: 0 0 12px;

	vertical-align: top;

	font-size: 1rem;
	text-align: center;
}

.g1ui-img-radio-items-cols-2  .g1ui-img-radio-item {
	width: 50%;
}


.g1ui-img-radio-item span {
	display: block;
	border-width: 1px;

	border-style: solid;
	border-color: #ccc;

	opacity: 0.4;
	filter: grayscale(100%);
}

.g1ui-img-radio-item img {
	display: block;
	margin: 0 auto;
}

.g1ui-img-radio-item input[type=radio] {
	display: none;
}

.g1ui-img-radio-item input[type=radio]:checked + span {
	background-color: #fff;
	opacity: 1;
	filter: none;
}




.g1-customizer-on-page-info {
	padding: 10px;
	background-color: #009933;
	color: #ffffff;
}

.g1-customizer-not-on-page-info {
	padding: 10px;
	background-color: #b22222;
	color: #ffffff;
}






.g1-customizer-sortable-control {
	display: block;
	padding: 6px 16px;
	border-width: 1px;

	border-style: solid;

	border-color: #e6e6e6;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.g1-customizer-sortable-control .customize-control-title {
	padding: 0;
	margin: 0;

	font: inherit;
}

.g1-customizer-sortable-control input {
	display: none;
}

.customize-control-sortable,
.customize-control-sortable label {
	cursor: move;
}

.customize-control-sortable + .customize-control {
	margin-top: 8px;
}

.customize-control-sortable + .customize-control-sortable {
	margin-top: -8px;
}

/* @todo - make it better */
.g1-newtag {
	width: 83% !important;
	max-width: 250px !important;
}
