.wp-caption-text {
    padding-top: 0.5em;
    padding-#{$right}: 10px;

    text-align: #{$left};
    font-size: 13px;
    line-height: 1.125;
    font-family: $meta_font_family;
    font-style: normal;
    font-weight: 400;

    opacity: 0.666;

    a {
        text-decoration: underline;
        color: inherit;
    }
}