@font-face {
    font-family: "bimber";
    @if ( 'bunchy' == $stack ) {
        src:url("../../bunchy/fonts/bimber.eot");
        src:url("../../bunchy/fonts/bimber.eot?#iefix") format("embedded-opentype"),
        url("../../bunchy/fonts/bimber.woff") format("woff"),
        url("../../bunchy/fonts/bimber.ttf") format("truetype"),
        url("../../bunchy/fonts/bimber.svg#bimber") format("svg");
    } @else {
        src:url("../../bimber/fonts/bimber.eot");
        src:url("../../bimber/fonts/bimber.eot?#iefix") format("embedded-opentype"),
        url("../../bimber/fonts/bimber.woff") format("woff"),
        url("../../bimber/fonts/bimber.ttf") format("truetype"),
        url("../../bimber/fonts/bimber.svg#bimber") format("svg");
    }

    font-weight: normal;
    font-style: normal;
}
