// colors
$primary-color: #000;
$text-color: rgba($primary-color, 0.54);
$title-color: rgba($primary-color, 0.87);
$border-color: rgba($primary-color, 0.1);
$gray-bg: #f7f7f7;
$default-shadow: 0px 1px 7px 0px rgba($primary-color, 0.1);

// fonts
$font-stack: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;