.g1-link-right {
    &:after {
        display: inline-block;
        margin-#{$left}: 8px;
        color: #000;
        font-family: "bimber";

        vertical-align: middle;

        content: "\e00b";
        @if ( 'bunchy' == $stack ) {
            content: if-ltr( "\e001", "\e01a" );
        } @else {
            content: if-ltr( "\e00b", "\e01d" );
        }
    }
}

.g1-link-left {
    &:before {
        display: inline-block;
        margin-#{$right}: 8px;
        color: #000;
        font-family: "bimber";

        vertical-align: middle;

        content: "\e00d";
        @if ( 'bunchy' == $stack ) {
            content: if-ltr( "\e01a", "\e001" );
        } @else {
            content: if-ltr( "\e00d", "\e01b" );
        }
    }
}

span.g1-link {
    @if ( 'bunchy' != $stack ) {
        opacity: 0.333;
    }
}

.g1-link{
    color: #000;
    font-weight: $button_font_weight;
    text-transform: uppercase;
    letter-spacing: $button_letter_spacing;
    font-family: $button_font_family;
    @if ( 'bunchy' == $stack ) {
         display: inline-block;

        font: 600 13px "Roboto Condensed", sans-serif;
        line-height: inherit;

        letter-spacing: 0.2em;
        text-transform: uppercase;

        &:after {
            display: inline-block;
            font: 17px "bimber";
            line-height: inherit;
            vertical-align: middle;
        }
        &:before {
            display: inline-block;
            font: 17px "bimber";
            line-height: inherit;
            vertical-align: middle;
        }
    }
}