    // Variables
    $_avatar_size:          68px;
    $_avatar_border_width:  4px;
    $_avatar_overlap_size:  8px;


    .author-info {
        @include box-sizing( border-box );

        max-width: 758px;
        padding: 30px 0 0;
        margin: 0 auto 30px;

        position: relative;

        @if $box_border_radius {
            border-radius: $box_border_radius;
        }

        @if ( 'minimal' == $stack or 'original' == $stack ) {
            &:before {
                display: block;
                position: absolute;
                #{$left}: 0;
                #{$right}: auto;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";

                background: currentColor;
                opacity: 0.0833;
            }
        }

        @if 'cards' == $stack {
            background-color: #ededed;
        }

        @if ( 'miami' == $stack ) {
            background-color: $skin_background_tone_color;
        }
        @if ( 'bunchy' == $stack ) {
            background: #f2f2f2;
            text-align: center;
        }


        &:after {
            display: table;
            clear: both;
            content: "";
        }

        .author-info-inner {
            position: relative;
        }

        .author-avatar {
            position: absolute;
            #{$left}: 10px;
            #{$right}: auto;
            top: 0;

            width: 40px;
            height: 40px;
            margin: 0;
        }

        .author-overview {
            padding-#{$left}: 60px;
            display:flex;
            flex-wrap:wrap;
            align-items: center;
        }

        .author-title {
            flex-basis:100%;
            order:1;
        }

        .g1-socials-items{
            order:4;
           flex-grow:1;
           text-align: right;
           margin-bottom: .5rem;
            .g1-socials-item-icon{
                font-size:21px;
            }
        }

        .author-avatar{
            a{
                position: relative;
            }
            .author-info-rank{
                position: absolute;
                max-height:40px;
                right:-40px;
                bottom:0px;
                display:none;
            }
        }

        .author-bio{
            flex-basis:100%;
            order:2;
        }

    }

    .g1-row .author-info {
        margin-#{$left}: auto;
        margin-#{$right}: auto;
    }

    @media only screen and ( min-width: $mobile_breakpoint + 1px ) {
        .author-info {
            padding: 30px 30px 0;

            .author-avatar {
                #{$left}: 0;
                width: auto;
                height: auto;
            }

            .author-overview {
                min-height: 100px;
                padding-#{$left}: 120px;
            }
            .author-avatar .author-info-rank{
                display:block;
            }
        }
    }
