.g1-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    #{$left}: 0;
    #{$right}: 0;
    top: 0;
    bottom: 0;

    padding: 100px 0;

    background-color: $skin_background_color;

    input[type] {
        font-size: 48px;
        font-family: "Poppins";
        font-weight: 700;
        letter-spacing: -0.05em;
    }
}

.g1-popup-visible {
    display: block;
}

.g1-popup-inner {
    max-width: 1152px;
    margin: 0 auto;
}

.g1-popup-close {
    display: block;
    width: 40px;
    height: 40px;

    position: absolute;
    z-index: 2;
    #{$left}: auto;
    #{$right}: 16px;
    top: 48px;

    text-align: center;

    color: $skin_important_text_color;

    &:before {
        font-size: 32px;
        line-height: 40px;
        font-family: "bimber";

        content: "\e01b";
    }
}